<!--this is from practice 2

<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>-->

<!--this if from practice 3-->

<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
     <div>Microblog: <a href="/index">Home</a></div>
  <hr>
  {% with messages = get__flashed_messages() %}
    {% if messages %}
       <ul>
       {% for message in messages %}
            <li>{{ message }} </li>
       {% endfor %}
       </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
   </body>
</html>
