<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <style>

    </style>
    <div class="block"></div>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div id="card"><span class="glyphicon glyphicon-user"></span>&nbsp;Personal Statement</div>
                            <div class="well">
                                <!-- START THE CAROSEL -->
                                <div class="carousel slide" id="myCarousel">
                                    <div class="carousel-inner" >
                                        <div class="item active">
                                            <img class="img-responsive" src="/static/img/TBBT.jpg"  alt="First image" max-height="460" width="100%"/>
                                            <div class="header-text">
                                                <div class="col-md-12 text-center">
                                                    <h4>
                        	                        <span>I like American Series</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item" style="width:100%;background-color:red">
                                            <img src="/static/img/PS3.jpg" alt="image" width="100%"/>
                                            <div class="header-text">
                                                <div class="col-md-12 text-center">
                                                    <h4>
                                                    <span>I like Games</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item" style="width:100%;background-color:red">
                                            <img src="/static/img/language.jpg" alt="image" width="100%"/>
                                            <div class="header-text">
                                                <div class="col-md-12 text-center">
                                                    <h4>
                        	                        <span>And I like Coding!!</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>

                                    <div>
                                        <a href="#myCarousel" class="left carousel-control" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a href="#myCarousel" class="right carousel-control" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                                <!-- END THE CAROSEL -->
                                <p>Hi Dear, I am Rowson, this web is also avalible in mobile browser.</p>
                                <p>I was a Quality Engineer in Yulon-Motor Company and in charge with Electornic Parts of Automotors in the last 3 years(03/2021 - 03/2015)
                                and now, I am in a career change to the IT field, I am now building this website with skills as HTML, bootstrap of frontend and as python-flask(MVC) of backend,
                                I am using python only because of its elegant syntax,if needs, I will using different languages such as php,java,ROR..etc, all the languages are cool for me!</p>
                                <p>although I am a newbie in this field, but I was major in EC&CS while University , now,
                                I am full of passion and ready for this area, I will be doing hardly and great at job.</p>
                                <p>please kindly contact me if you have a available position, thanks in advance. </p>
                            </div>
                    </div>
                            <div class="col-md-3">
                                <div id="card"><span class="glyphicon glyphicon-education"></span>&nbsp;Education</div>
                                <div class="well">
                                    <h4><b>NTUST</b><br>
                                    2005-2009</h4>

                                    <p>Bachelor</p>
                                    <p>Electronic and Computer Science</p>
                                </div>
                                <div id="card"><span class="glyphicon glyphicon-cog"></span>&nbsp;Skills</div>
                                <div class="well">
                                    <h4><b>System</b></h4>
                                    <p>Linux</p>
                                    <h4><b>Languages</b></h4>
                                    <p>Python</p>
                                    <p>JavaScript</p>
                                    <p>HTML</p>
                                    <p>CSS</p>
                                    <p>JQuery</p>
                                </div>
                                <div id="card"><span class="glyphicon glyphicon-home"></span>&nbsp;Project</div>
                                <div class="well">
                                    <h4><b><a href="index">Rowson</a></b></h4>
                                    <p>which is built on a framework of python called flask and decorate by bootstrap.</p>
                                    <p>if you want to understand more details,please <a href="me">hit here</a></p>
                                </div>
                            </div>
                </div>
        </main>
{% endblock %}