<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<header>

<div id="myCarousel" class="carousel slide container">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><h2>I like America Series</h2><img src="http://ppt.cc/teYBY"/></div>
    <div class="item"><h2>I like Games</h2><img src="http://ppt.cc/FM6JQ"/></div>
    <div class="item"><h2>And I like Coding!</h2><img src="http://ppt.cc/DK7tb"/></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</header>
<body>
    <div class="alert alert-warning">
        <h2><strong>Personal Stament</strong></h2>   </div>
        <div class="container" style="margin-left:25px">
            <h4><p>Hi I am Rowson</p><br>
            <p>I was a Quality Engineer in Yulon-Motor Company and in charge with Electornic Parts of Automotors in the last 3 years(03/2021 - 03/2015)</p>
            <p>and now, I am in a career change to the IT field, I am now building this website with skills as HTML, bootstrap of frontend and as python-flask(MVC) of backend </p><br>
            <p>I am using python only because of its elegant syntax,if needs, I will using different languages such as php,java,ROR..etc, all the languages are cool for me</p><br>
            <p>although I am a newbie in this field, but I was major in EC&CS while University of NTUST, now, I am full of passion and ready for this area and will be doing good at job</p>
            <p>please kindly contact me if you have a available position, thanks in advance.</p>
            </h4>
        </div>
        <div class="alert alert-warning">
        <h2><strong>Experience</strong></h2></div>
        <div class="container" style="margin-left:25px">
            <h4><p>IT field</p><br>
                <ul>
                    <li>familiar with UI/UX TestPlan of electronic device</li>
                    <li>version Control of electronic device</li>
                    <li>issue control</li>
                    <li>knowledge of Linux</li>
                    <li>knowledge of basic concepts of algorithms</li>
                    <li>knowledge of computer science</li>
                </ul>
            </h4>
        </div>
        <div class="alert alert-warning">
        <h2><strong>Skills</strong></h2></div>
        <div class="container" style="margin-left:25px">
            <h4>
            <ul>
                <li>Python</li>
                <li>HTML</li>
                <li>javascript</li>
                <li>CSS</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>Git</li>
            </ul>
            </h4>
        </div>
        <div class="alert alert-warning">
        <h2><strong>Project</strong></h2></div>
        <div class="container" style="margin-left:25px">
            <h3><strong>Blog on pythonanywhere.com(on-going)</strong></h3><br>
            <h4>
            <ul>
                <li>Tools of FrontEnd(client-side)
                    <ul>
                        <li>skills
                            <ul>
                                <li>HTML</li>
                                <li>javascript</li>
                                <li>CSS</li>
                                <li>jQuery</li>
                            </ul>
                        </li>
                        <li>Frameworks
                            <ul>
                                <li>Bootstrap</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li>Tools of BackEnd(server side)
                    <ul>
                        <li>skills
                            <ul>
                                <li>Python 3.4</li>
                                <li>Linux centos7</li>
                            </ul>
                        </li>
                        <li>Frameworks
                            <ul>
                                <li>Flask</li>
                                <li>flask-login</li>
                                <li>flask-openid</li>
                                <li>flask-sqlalchemy</li>
                                <li>sqlalchemy-migrate</li>
                                <li>flask-wooshalchemy</li>
                                <li>flask-wtf</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>Tools of version control
                    <ul>
                        <li>skills
                            <ul>
                                <li>Git@github.com</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            </h4>
        </div>
        <div class="alert alert-warning">
        <h2><strong>Language</strong></h2></div>
        <div class="container" style="margin-left:25px">
            <h4>
            <ul>
                <li>Chinese:Mother tongue</li>
                <li>English:Average(TOEIC=695)</li>
            </ul>
            </h4>
        </div>
        <div class="alert alert-warning">
        <h2><strong>EDUCATION</strong></h2></div>
        <div class="container" style="margin-left:25px">
            <h3><strong>National Taiwan University of Science and Technology </strong></h3>
            <h4>
            <ul>
                <li>Degree</li>
                    <ul>
                        <li>Bachelor</li>
                    </ul>
                <li>Department</li>
                    <ul>
                        <li>Electronic and Computer Science</li>
                    </ul>
            </ul>
            </h4>
        </div>
</body>
{% endblock %}
