<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
        <div class="block"></div>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="card"><span class="glyphicon glyphicon-road"></span>&nbsp;Introduction</div>
                        <div class="well">
                            <p>Welcome!! forks, this website is build for Rowson's practice with flask!</p>
                            <p>So far it is built on PAW and only basic function (the user is only me, I don't put posts board in yet), but I can still introduce for a little bit as below:</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="card"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;FrontEnd</div>
                        <div class="well">
                            <p>Using Bootstrap almost, this is a great framework for both javascript and css, recommended!!</p>
                            </p>Bootstrap:<a href="http://getbootstrap.com/">http://getbootstrap.com/</a>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="card"><span class="glyphicon glyphicon-hand-down"></span>&nbsp;BackEnd</div>
                        <div class="well">
                            <p>Using flask and flask-sqlalchemy to build it and few farmeworks as below:</p>
                            <p>Flask:<a href="http://flask.pocoo.org/">http://flask.pocoo.org/</a></p>
                            <p>Flask-Sqlalchemy:<a href="https://pythonhosted.org/Flask-SQLAlchemy/">https://pythonhosted.org/Flask-SQLAlchemy/</a></p>
                            <p>Flask-login:<a href="https://flask-login.readthedocs.org/en/latest/">https://flask-login.readthedocs.org/en/latest/</a></p>
                            <p>sqlalchemy-migrate<a href="https://pypi.python.org/pypi/sqlalchemy-migrate">https://pypi.python.org/pypi/sqlalchemy-migrate</a></p>
                            <p>and the amazing mega-tutorial:<a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">mega-tutorial</a></p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div id="card"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;Future</div>
                        <div class="well">
                            <p>I will make this web turns to a blog which allow user login with Facebook or Google+ and allow me to edit my article easily</p>
                            <p>so far I've found some framework to help me build it, after I finished, I will update here.</p>
                            <br><p>thanks to reading it.</p>
                            <br><p>Best regards<br>
                            <b>Rowson</b></p>
                        </div>
                    </div>
                </div>

            </div>




        </main>
{% endblock %}